@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: oklch(70.4% 0.14 182.503);
  --color-secondary: oklch(55.4% 0.046 257.417);
  --color-dark: oklch(12.9% 0.042 264.695);
}
